<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <span class="logo">Relevo</span>
    </div>

    <div class="footer-links">
      <a routerLink="/aviso-legal">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a>
      <a routerLink="/terminos-servicio">{{ 'FOOTER.TERMS' | translate }}</a>
      <a routerLink="/politica-privacidad">{{ 'FOOTER.PRIVACY' | translate }}</a>
    </div>

    <div class="footer-copy">
      {{ 'FOOTER.COPYRIGHT' | translate }}
    </div>
  </div>
</footer>
