<nav class="navbar">
  <div class="navbar-brand">
    <a [routerLink]="(authService.isLoggedIn$ | async) ? '/ofertas' : '/'" class="logo">Relevo</a>
  </div>

  <ul class="navbar-menu">
    @if (authService.isLoggedIn$ | async) {
      <li><a routerLink="/ofertas" routerLinkActive="active-link">Ofertas</a></li>
      <li><a routerLink="/usuarios" routerLinkActive="active-link">Usuarios</a></li>
      <li><a routerLink="/solicitudes" routerLinkActive="active-link">Solicitudes</a></li>
      <li><a (click)="authService.logout()" routerLink="/" class="btn-login" style="background-color: #ef4444; cursor:pointer;">Salir</a></li>
    } 
    @else {
      <li><a (click)="loginRapido()" class="btn-login" style="cursor: pointer;">Iniciar Sesión</a></li>
    }
  </ul>
</nav>