<nav class="navbar">
  <div class="navbar-brand">
    <a [routerLink]="(authService.isLoggedIn$ | async) ? '/oportunidades' : '/'" class="logo">Relevo</a>
  </div>

  <ul class="navbar-menu">
    @if (authService.isLoggedIn$ | async) {
      <li><a routerLink="/oportunidades" routerLinkActive="active-link">Oportunidades</a></li>
      <li><a routerLink="/perfil" routerLinkActive="active-link">Mi Perfil</a></li>
      <li><a (click)="authService.logout()" routerLink="/" class="btn-login" style="background-color: #ef4444; cursor:pointer;">Salir</a></li>
    } 
    @else {
      <li><a (click)="abrirModal()" class="btn-login" style="cursor: pointer;">Iniciar Sesión</a></li>
    }
  </ul>
</nav>

@if (mostrarModal) {
  <div class="modal-overlay" (click)="cerrarModal()">
    
    <div class="modal-card" (click)="$event.stopPropagation()">
      
      <button class="btn-cerrar" (click)="cerrarModal()">✖</button>
      
      <h2>Iniciar Sesión</h2>
      <p>Ingresa tus datos para acceder.</p>

      <form (submit)="iniciarSesion($event)">
        <div class="form-group">
          <label>Correo Electrónico</label>
          <input type="email" placeholder="ejemplo@correo.com" required>
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" placeholder="********" required>
        </div>

        <button type="submit" class="btn-submit">Entrar</button>
      </form>

    </div>
  </div>
}